body{
    background-color: #eeeee4;
    position: relative;
}
card{
    background-color: #F0F0E1;
    text-align: center;
    border: 3px solid #F0F0E1;
}
#uname,#uname1{
    width: 80%;
    margin-left: 100px;
}
#item{
    text-align: center;
}
label{
    margin-left: 100px;
}
#title2{
    margin-left: 98px;
    color: blue;
    font-weight: bold;
}
button{
    margin-left: 100px;
}
#title1{
    margin-left: 20px;
    font-weight: bold;
}
.h2{
    color: blue;
}
#list{
    background-color: #eeeee4;
    border: none;
}
#pwd{
    height: 200px;
}
#footer{
    background-color: #eeeee4;
    border: none;
}
#footer1{
    text-align: center;
    font-size: xx-small;
}
.form-select{
    margin-left: 100px;
    width: 80%;
}